
<ul class="tabs" data-tab>
  <li class="tab-title active"><a href="#panel1">Day 1</a></li>
  <li class="tab-title"><a href="#panel2">Day 2</a></li>
</ul>
<div class="tabs-content">
  <div class="content active" id="panel1">  
    <table>
      <thead>
        <tr>
          <th>Time</th>
          <th>Track 1 - Pattern Recognition</th>
          <th>Track 2 - Image, Speech, and Signal Processing</th>
          <th>Track 3 - Document Analysis</th>
          <th>Track 4 - Biometrics</th>
          <th>Track 5 - Bioinformatics</th>
        </tr>
      </thead>
      <tbody>
        <% @day_one_events.track_one.each do |track_one| %>
        <tr>
          <td><%= track_one.start %></td>      
          <td><%= track_one.name %></td>
          <td></td>        
          <td> </td>
          <td></td> 
          <td></td>
           <% end %>      
        </tr> 
      </tbody>
    </table>
  </div>
  <div class="content" id="panel2">
      <table>
        <thead>
        <tr>
          <th>Time</th>
          <th>Track 1 - Pattern Recognition</th>
          <th>Track 2 - Image, Speech, and Signal Processing</th>
          <th>Track 3 - Document Analysis</th>
          <th>Track 4 - Biometrics</th>
          <th>Track 5 - Bioinformatics</th>
        </tr>
      </thead>
        <tbody>
        <% @day_two_events.track_one.each do |track_one| %>
          <tr>         
            <td><%= track_one.start %></td>
            <td><%= track_one.name %> </td>
            <td></td>
            <td></td>
            <td></td>
            <td></td>
          </tr>
          <% end %>
        </tbody>
      </table>     
  <div>
</div>




